PORT=4000
MONGO_URI=mongodb://localhost:27017/idlr
JWT_SECRET=change_this_secret
CLIENT_URL=http://localhost:3000
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:4000/api/strava/callback
